.popup__input{
  border: none;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  outline: none;
  margin-left: 36px;
  margin-right: 36px;
  padding-bottom: 13.26px;
  font-size: 14px;
line-height: 17px;
}