@import url("./__add-button/profile__add-button.css");
@import url("./__avatar/profile__avatar.css");
@import url("./__edit-button/profile__edit-button.css");
@import url("./__info/profile__info.css");
@import url("./__name/profile__name.css");
@import url("./__vocation/profile__vocatiom.css");
.profile {
  max-width: 1200px;
  margin: auto;
  padding-bottom: 47.25px;
  display: flex;
  justify-content: start;
  align-items: center;
}

@media screen and (max-width:1741px) {
  .profile {
    max-width: calc(100%*882/1280);
  }
}

@media screen and (max-width:950px) {
  .profile {
    max-width: calc(100%*282/320);
    flex-direction: column;
    padding-bottom: 36px;
  }
}