@import url(./__logo/header__logo.css);
.header{
  max-width: calc(100%*882/1280);
  border: red solid 1px;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 76.85px;
}
@media screen and (max-width:950px) {
  .header {
    max-width: calc(100%*260/320);
    padding-top: 28px;
    padding-bottom: 73.76px;
    
  }
}