@import url(./__logo/header__logo.css);
.header {
  width: 1200px;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 40.6px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width:1741px) {
  .header {
    width: calc(100%*882/1280);
  }
}

@media screen and (max-width:950px) {
  .header {
    width: 100%;
    padding-top: 28px;
    padding-bottom: 31.6px;
  }
}