.add-popup__title {
  padding: 0;
  margin: auto;
  margin-bottom: 24px;
  width: calc(100%*358/430);
  margin-top: 34px;
  margin-bottom: 54px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width:500px) {
  .add-popup__title {
    width: calc(100%*200/240);
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 36px;
    margin-top: 30px;
  }
}