.profile__vocation {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width:950px) {
  .profile__vocation {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}