.card-grid__like {
  width: 20.76px;
  height: 18.13px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/heart.svg);
  background-size: 100%;
  transition: opacity 1s linear 0s;
  outline: none;
}

.card-grid__like:hover {
  opacity: 0.6;
}