.popup__cancel-button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  width: 57.55px;
  height: 57.55px;
  left: calc(100%*418/430);
  top: -47px;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: 100%;
  transition: opacity 1s linear 0s;
  color: rgba(0, 0, 0, 0);
}

.popup__cancel-button:hover {
  opacity: 0.6;
}

@media screen and (max-width:614px) {
  .popup__cancel-button {
    left: calc(100% - 47px);
    top: -57px;
  }
}